html,
body {
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
  margin: 0;
  height: 100%;
  min-width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  padding-left: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgb(135, 135, 135);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

footer {
  text-align: center;
}
.container h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0;
  line-height: 100px;
}

.weather-app-wrapper {
  max-width: 500px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #000;
  border-radius: 5px;
}

.row-city {
  color: blueviolet;
  font-size: 20px;
  text-align: center;
}

.row-temp {
  text-align: center;
}
.units {
  text-decoration: none;
  color: crimson;
}
